body {
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
  display: flex;
}
#conditions{
  flex: 2;
  margin: 10px;
}
#conditions > div {
  background-color: #c6c1c1;
  padding: 20px;
  border-radius: 10px;
}
#form-data{
  flex: 1;
  margin: 10px;
}
#form-data > div {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

input ,select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
input[type=submit] {
  color: white;
  padding: 14px 20px;
  border: none;
  background-color: #4caf50;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;  
}
