h1 {
  border-style: solid ;
  border-color: cadetblue;
  border-width: 1px;
  width: 20%;
  border-radius: 25px ;
  padding: 20px;
  text-align: center;  
  /* margin-top: 80px;
  margin-right: 20px;
  margin-bottom: 40px;  
  margin-left: 10px; */
  /* margin: 80px 20px 40px 10px; */
  margin: 80px  auto;
}
p {
  border: dotted blue 3px;
  width: 80vw;
  height: 40vh;
  padding: 10px;
  margin: 30px auto;
}