body {
  /* background-color: darkgray; */
  background-image: url('paper.gif');
}
h1 {
  background-color: rgba(45, 189, 19);
  opacity: .25;
}
div {
  background-color: bisque;
}

p {
  background-color: yellow;
}